/* Custom CSS edits for NC27 */

/* Custom styling for markdown editor to have a bit bigger text */

.text-editor__wrapper div.ProseMirror p {
    font-size:16px;
}

/* Main menu and login form */
/* Colors */

#side-menu, #body-login {background: none;}
#header, #side-menu  { background-color: rgba(23, 23, 23, 0.8) !important; }
.menu, .header-menu__wrapper{ background-color: rgba(var(--color-main-background-rgb), 0.3) !important; }

/* Background blur */

#content, #header, .menu, .header-menu__wrapper, #side-menu, #body-login, .login-box {
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
}

/* Remove frame around logo on login form */

#body-login #header {
    background: transparent !important;
    backdrop-filter: none;
}

/* Header*/

#body-public .side-menu-opener {
    display: none !important;
}

.header-left, .header-right {
    background-color: var(--color-main-header) !important;
}

/* Deck */

.card {
    box-shadow: none !important;
    background-color: #22272e !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    border-radius: 10px !important;
}

/* Side menu opener */
.side-menu-opener {
    margin: 0px !important;
}

/* Input */
input, select, textarea, .content-wrapper.text-editor__content-wrapper, .vs__dropdown-toggle, .multiselect__tags, .comment-form__contenteditable, .rich-contenteditable__input, .multiselect.property__label.multiselect--single, .multiselect__content-wrapper {
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    background-color: var(--color-entry-background) !important;
    border-radius: var(--border-radius-default) !important;
}

input:hover, select:hover, textarea:hover, .content-wrapper.text-editor__content-wrapper:hover, .vs__dropdown-toggle:hover, .multiselect__tags:hover, .comment-form__contenteditable:hover, .rich-contenteditable__input:hover, input:focus, select:focus, textarea:focus, .content-wrapper.text-editor__content-wrapper:focus, .vs__dropdown-toggle:focus, .multiselect__tags:focus, .comment-form__contenteditable:focus, .rich-contenteditable__input:focus, .content-wrapper.text-editor__content-wrapper:active, .content-wrapper.text-editor__content-wrapper:focus-within, .content-wrapper.text-editor__content-wrapper:focus-visible, .multiselect.property__label.multiselect--single:hover {
    border-color: var(--color-border-hover) !important;
}

.vs__dropdown-toggle {
    padding-left: 8px !important;
}


.input-field__label {
    background-color: var(--color-entry-background) !important;
}

/*.modal__card .app-sidebar {
    min-width: calc(100%) !important;
}*/

/* Rich space */

.tiptap.ProseMirror:hover {
    box-shadow: none !important;
}

.save-status.saved, .save-status:hover, .v-popper.session-list.v-popper--theme-dropdown {
    background-color: #0000 !important;
}

.avatardiv.icon-group {
    border-radius: var(--border-radius-default) !important;
}

.avatar-list {
    margin: 0 !important;
}

/*.text-editor__wrapper div.ProseMirror table {
    width: calc(100% - 50px) !important;
}*/

/* Menus */

#app-navigation:not(.vue)>ul>li:hover, #app-navigation:not(.vue)>ul>li>a:hover, .button.single-alt-login-option:hover, .button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button:hover {
    border-radius: var(--border-radius-default) !important;
}

.user-menu ul li a, .user-menu ul li button {
    border-radius: var(--border-radius-default) !important;
}

.app-navigation-entry__settings, #app-settings {
    padding: calc(var(--default-grid-baseline, 4px)*2) !important;
}

.settings-button {
    background-color: var(--color-main-background-blur) !important;
}

.settings-button:hover {
    background-color: var(--color-background-hover) !important;
}

#app-settings__header {
    margin: 0px !important;
}

/* Dashboard Panels */
.panel {
    background-color: rgba(0,0,0,.5) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Dashboard Buttons */

.user-status-menu-item__toggle  {
    border-radius: var(--border-radius-default) !important;
}

.user-status-menu-item__toggle.user-status-menu-item__toggle--inline, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary.action-item__menutoggle {
    background-color: rgba(0,0,0,.5) !important;
    border-radius: var(--border-radius-default) !important;
}

.user-status-menu-item__toggle.user-status-menu-item__toggle--inline:hover, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary:hover, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary:hover, action-item__menutoggle:hover, .button.single-alt-login-option:hover, .button-vue.button-vue--text-only.button-vue--vue-tertiary.button-vue--wide:hover {
    background-color: var(--color-background-hover) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Modal container */
.modal-container {
    box-shadow: none !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
}
  
/* Profil page */
.vs__search, .vs__search:hover {
    border: 0px solid !important;
    border-color: none !important;
    background-color: none !important;
    background: none !important;
}

/* Entries & Texts - No borders */
div.select2-container-multi .select2-choices, div.select2-container-multi.select2-container-active .select2-choices, .multiselect__input, .text-editor__wrapper .text-editor__main .text-editor__content-wrapper, [data-handler=text] {
    border: 0px solid !important;
}

/* Pop-up menus */
.header-menu__wrapper, .fileActionsMenu.popovermenu.bubble.open.menu, .popovermenu.open, .popovermenu:after, .v-popper__wrapper, .oc-dialog, .guest-box.login-box, .guest-box {
    box-shadow: none !important;
    background-color: var(--color-main-background-blur) !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    filter: drop-shadow(0 0px 0px var(--color-box-shadow)) !important;
    border-radius: var(--border-radius-default) !important;
}

.header-menu__content, .v-popper__inner, .v-popper--theme-dropdown.v-popper__popper {
    box-shadow: none !important;
    background-color: var(--color-main-background-blur) !important;
    border: 0px solid !important;
    filter: drop-shadow(0 0px 0px var(--color-box-shadow)) !important;
    border-radius: var(--border-radius-default) !important;
}

.oc-dialog-buttonrow {
    background-image: none !important;
}

.notification, .dismiss-all, .unified-search__input-wrapper, .oc-dialog-title, .oc-dialog-buttonrow.twobuttons.aside, .oc-dialog-title, .notification-container.menu {
    background-color: var(--color-main-background-blur) !important;
}

/* Pop-up menus - Search bars */

#unified-search__input {
    padding: 0 12px !important;
}

.unified-search__form {
    margin: 10px 8px !important;
}

/* Log in */

#body-login {
    background-color: var(--color-main-background) !important;
}

.info {
    color: var(--color-main-text) !important;
}

.button.single-alt-login-option {
    margin: 0px 0px 10px 0px !important;
    font-size: 15px !important;
}

.button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button {
    background-color: var(--color-primary) !important;
}

.button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button:hover {
    background-color: var(--color-primary-element-hover) !important;
    text-decoration: none !important;
}

#user {
    width: 100%;
}

/* Notification */

.notification__dot {
    fill: var(--color-primary) !important;
}

/* Contacts */

.property__value input {
    padding-left: 10px !important;
}

/* Announcement */

.announcement__message__overlay {
    height: 1em !important;
}

.rich-contenteditable__input--empty:before {
    position: inherit !important;
}

/*.ProseMirror {
    margin-top: 50px !important;
}*/

/* Mails*/

/*#message-container {
    background-color: var(--color-main-background) !important;
}

.div.WordSection1 {
    color: #D8D8D8 !important;
}*/

.envelope--expanded {
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Talk */

.message-buttons-bar {
    background-color: var(--color-main-background-blur) !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    box-shadow: none !important;
    height: 45.6px !important;
}

.button-vue--icon-only {
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-primary {
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-secondary {
    /* background-color: var(--color-main-background) !important; */
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-tertiary{
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-secondary:hover, .icon-menu:hover {
    /* background-color: var(--color-background-hover) !important; */
    /* border-radius: 22px !important; */
}

.button-vue--icon-and-text {
    /* background-color: var(--color-background-hover) !important; */
}

.app-navigation-entry__counter {
    background-color: var(--color-main-background-blur) !important;
}

.app-navigation-entry:hover .app-navigation-entry__counter {
    background-color: #444c5600 !important;
}

.list-item {
    border-radius: var(--border-radius-default) !important;
}

.file-preview:hover {
    background-color: #ffffff00 !important;
}

.file-preview:hover .file-preview__image.media, .location:hover {
    outline: none !important;
}

.message:hover .normal-message-body, .message:hover .normal-message-body {
    background-color: var(--color-main-background) !important;
}

.deck-card, .widget-custom, .widget-default, .quote {
    border-width: 1px !important;
}

.deck-card:hover, .widget-custom:hover, .widget-default:hover, .quote:hover {
    border-width: 1px !important;
    border-color: var(--color-border-hover) !important;
}

.quote::before {
    background-color: var(--color-primary) !important;
}


/* Photos */

.file-container .file__images img, .file-container .file__images .video-icon, .file-container, .files-list-viewer__placeholder, .material-design-icon.video-icon.video-icon, .file-container.selected::after, .file-container::after {
    border-radius: 8px !important;
}

.checkbox-radio-switch, .checkbox-radio-switch:hover, .checkbox-radio-switch__label, .checkbox-radio-switch__label:hover, .checkbox-radio-switch__label:focus, .checkbox-radio-switch__input, .checkbox-radio-switch__input:focus {
    background-color: rgb(0 0 0 / 0%) !important;
}

.material-design-icon__svg  {
    color: var(--color-primary-light-text) !important;
}

.file-container .selection-checkbox[data-v-0810a56d] .checkbox-radio-switch__content {
    background-color: var(--color-background-hover) !important;
}

/* Apps */

.app-level, .official.icon-checkmark {
    min-width: 137px !important;
}

/* Public */

#body-public footer {
    display: none !important;
}

/* Parameters */

.app-settings__navigation {
    min-width: 280px !important;
}

.msg.inlineblock.success {
    border-radius: var(--border-radius-default) !important;
    padding: 3px 10px !important;
    margin-bottom: 5px !important;
}

/* Menus */

.user-menu__nav ul li a {
    border-radius: var(--border-radius-default) !important;
}

.header-menu__content {
    border-radius: 0px !important;
}

/* Assistant */

.editable-input, .editable-output {
    padding-left: 20px !important;
}

.vs--searchable .vs__dropdown-toggle {
    max-height: 40px !important;
}

.vs__selected {
    margin: 2px 0px 0px 0px !important;
}

#task-select.vs__search {
    padding-left: 8px !important;
}

/* Maps */
.leaflet-marker-photo-suggestion, .leaflet-marker-photo, .leaflet-marker-photo-suggestion-selected {
    border: none !important;
}

.sidebar.leaflet-touch, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none !important;
}

.leaflet-control-attribution.leaflet-control {
    display: none !important;
}

.sidebar.collapsed {
    width: 40px !important;
}

.sidebar-tabs {
    height: 34% !important;
    border-bottom-left-radius: var(--border-radius, 4px) !important;
    border-bottom-right-radius: var(--border-radius, 4px) !important;
    border-top-left-radius: var(--border-radius, 4px) !important;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 10px !important;
}

.leaflet-container .leaflet-control-mouseposition {
    display: none !important;
    box-shadow: none !important;
}

.leaflet-container {
    background: #262626 !important;
}

.thumbnail {
    border-radius: 8px !important;
}

.leaflet-tooltip.leaflet-marker-photo-tooltip.leaflet-zoom-animated.leaflet-tooltip-right {
    border: none !important;
    border-radius: var(--border-radius-default) !important;
    padding: 0px !important;
}

.photo-tooltip {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

/* Files */

.files-list .files-list__row:hover .favorite-marker-icon svg path {
    stroke: #353d45 !important;
}

.material-design-icon.checkbox-blank-outline-icon .material-design-icon__svg {
    color: #ffffff30 !important;
}

.files-list .files-list__row-icon-preview {
    border-radius: 4px !important;
}

/* Office */
.main-nav.hasnotebookbar:not(.readonly), .hasnotebookbar {
    background-color: #1c1c1c !important;
}

:root {
    --filter-background-blur: blur(8px) !important;
    --body-container-margin: 0px;
    --body-container-radius: 0px;
    --color-main-background: #1c2128;
    --color-main-background-translucent: var(--color-main-background);
    --color-main-background-rgb: 23, 27, 32;
    --color-main-background-blur: #22272e;
    --color-main-header: #2d333b;
    --color-main-text: #D8D8D8 !important;
    --color-text-maxcontrast: #8c8c8c !important;
    --color-text-maxcontrast-default: #8c8c8c !important;
    --color-text-maxcontrast-background-blur: #919191 !important;
    --color-text-light: #bfbfbf !important;
    --color-text-lighter: #a5a5a5 !important;
    --color-background-dark: var(--color-main-background-blur) !important;
    --color-background-hover: #444c56a3;
    --color-border: #444c56 !important;
    --color-border-hover: #539bf5 !important;
    --color-border-panel: #373e47 !important;
    --color-scrollbar: #2d333b;
    --button-color: #347d39;
    --color-btn-primary-hover-bg: #46954a;
    --color-entry-background: var(--color-main-background-blur);
    --border-radius-large: var(--border-radius-default) !important;
    --border-radius-pill: var(--border-radius-default) !important;
    --border-radius: var(--border-radius-default) !important;
    --border-radius-default: 16px !important; /* 25 */
    --folder-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="rgb(123, 131, 143)"><path d="M 1.75 1 A 1.75 1.75 0 0 0 0 2.75 v 10.5 C 0 14.216 0.784 15 1.75 15 h 12.5 A 1.75 1.75 0 0 0 16 13.25 v -8.5 A 1.75 1.75 0 0 0 14.25 3 H 7.5 a 0.25 0.25 0 0 1 -0.2 -0.1 l -0.9 -1.2 C 6.07 1.26 5.55 1 5 1 H 1.75 Z"/></svg>');
}
