/* Custom CSS edits for NC26 */

/* Override global background blur */

* {
    --filter-background-blur: blur(8px) !important;
  }
  
  /* Disable rounded corners, stretch from edge to edge */
  
  #content, .content {
    border-radius:0 !important;
  }
  
  /* Remove margins for the main content area */
  
  #content, .content {
    margin-left:0 !important;
    margin-right:0 !important;
    margin-bottom:0 !important;
    width:100% !important;
    height: calc(var(--body-height) + var(--body-container-margin)) !important;
  }
  
  /* Make input element  corners a bit less rounded
     (may need some additional classes, as I did not check every detail in the UI) */
  
  input, textarea, select, .multiselect__tags, .rich-contenteditable__input {
    border-radius: 4px !important;
  }
  
  /* Fix visual glitches with navigation if there is no background image */
  
  #app-navigation, .app-navigation {
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
  }
  
  /* Remove mouse events from quota display in file manager
     since selecting that element does not do anything */
  
  .app-files #quota {
    pointer-events:none;
  }
  
  /* Custom styling for markdown editor to have a bit bigger text */
  
  .text-editor__wrapper div.ProseMirror p {
    font-size:16px;
  }
  
  /* Make active menu item icon red */
  
  .app-menu-main .app-menu-entry.app-menu-entry__active {
      filter: brightness(20%) sepia(20) saturate(150) hue-rotate(45deg) !important;
  }
  
  /* Main menu and login form */
  /* Colors */
  
  #side-menu, #body-login {background: none;}
  .login-box { background-color: var(--color-main-background-blur); }
  #header, #side-menu  { background-color: rgba(23, 23, 23, 0.8) !important; }
  .menu, .header-menu__wrapper{ background-color: rgba(var(--color-main-background-rgb), 0.3) !important; }
  
  /* Background blur */
  
  #content, #header, .menu, .header-menu__wrapper, #side-menu, #body-login, .login-box {
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
  }
  
  /* Remove frame around logo on login form */
  
  #body-login #header {
     background: transparent !important;
     backdrop-filter: none;
  }
  
  /* Deck */
  .card {
     box-shadow: none !important;
     background-color: #22272e !important;
     border: 1px solid !important;
     border-color: var(--color-border) !important;
  }
  
  /* Files */
  table td.filename .thumbnail[style*="folder"] {
      background-image: var(--folder-icon) !important;
      /* filter: invert(54%) sepia(10%) saturate(405%) hue-rotate(177deg) brightness(92%) */
  }
  
  .files-filestable tbody {
      border: 1px solid;
      border-bottom: none !important;
      border-radius: 6px;
      border-color: var(--color-border);
      background-color: var(--color-main-background-blur);
  }
  
  .thead .summary {
      border: none !important;
  }
  
  table th {
      border-top: none !important;
      border-bottom: none !important;
  }
  
  tr:last-child td:first-child {
      border-bottom-left-radius: 6px !important;
  }
  
  tr:last-child td:last-child {
      border-bottom-right-radius: 6px !important;
  }
  
  tr:first-child td:first-child {
      border-top-left-radius: 6px !important;
  }
  
  tr:first-child td:last-child {
      border-top-right-radius: 6px !important;
  }
  
  .tfoot {
      border-top: none !important;
  }
  
  #app-navigation-toggle {
      margin: 8px 0px 0px 8px !important;
  }
  
  .app-sidebar-header__star.button-vue.button-vue--icon-only.button-vue--vue-secondary {
      background-color: rgba(0,0,0,0) !important;
  }
  
  .app-sidebar-header__star.button-vue.button-vue--icon-only.button-vue--vue-secondary:hover {
      background-color: var(--color-background-hover) !important;
  }
  
  table td.filename .thumbnail[style*="folder"] {
      background-image: var(--folder-icon) !important;
      /* filter: invert(54%) sepia(10%) saturate(405%) hue-rotate(177deg) brightness(92%) */
  }
  
  table tr[data-has-preview=true] .thumbnail {
      border: none !important;
  }
  
  #header {
      background-color: var(--color-background-hover);
  }
  
  .files-controls {
      background-color: var(--color-main-background);
      width: 100% !important;
  }
  
  #view-toggle {
      position: fixed;
      margin-top: 5px;
  }
  
  .viewcontainer.hide-hidden-files.has-comments.has-selection {
      padding-right: 24px !important;
      padding-left: 24px !important;
  }
  
  .viewcontainer.hide-hidden-files.has-comments {
      padding-right: 24px !important;
      padding-left: 24px !important;
  }
  
  .viewcontainer.hide-hidden-files.has-selection {
      padding-right: 24px !important;
      padding-left: 24px !important;
  }
  
  /* Links above files */
  div.crumb > a, div.crumb > span {
      color: #749af0 !important;
      opacity: 1 !important;
      text-align: center;
  }
  
  div.crumb.svg > a, div.crumb.svg.ui-droppable > a {
      padding-left: 5px !important;
      padding-right: 5px !important;
      text-align: center;
  }
  
  div.crumb.svg, div.crumb.svg.ui-droppable {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  
  div.crumb > a:hover {
      text-decoration: underline;
  }
  
  div.crumb {
      background: none;
  }
  
  div.crumb::after {
      content: "/";
      width: 5px;
      background-color: var(--color-main-background);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
  }
  
  div.crumb.svg.ui-droppable::after {
      padding-bottom: 12px;
      padding-top: 12px;
  }
  
  div.crumb.svg::after {
      padding-bottom: 12px;
      padding-top: 12px;
  }
  
  div.crumb.svg.crumbhome.ui-droppable::after {
      display: none !important;
  }
  
  
  div.crumb span.icon-shared {
      display: none !important;
  }
  
  .icon-home {
      margin-top: 4px;
  }
  
  /* Button knew item */
  .button.new {
      border: 1px solid;
      border-radius: 6px;
      border-color: var(--color-border);
      color: var(--color-background-hover);
      background-color: var(--button-color);
  }
  
  .button.new:hover {
      background-color: var(--button-color) !important;
      border: 1px solid !important;
      border-radius: 6px !important;
      border-color: #fdfdfd !important;
  }
  
  #app-navigation, .app-navigation, .without-app-settings {
      border-right: 1px solid !important;
      border-color: var(--color-border-panel) !important;
  }
  
  /* Header */
  .header-left, .header-right {
      background-color: var(--color-main-header) !important;
  }
  
  /* Side menu opener */
  .side-menu-opener {
      margin: 0px !important;
  }
  
  /* Input */
  input, select, textarea {
      border: 1px solid !important;
      border-color: var(--color-border) !important;
      background-color: var(--color-entry-background) !important;
  }
  
  input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus {
      border-color: var(--color-border-hover) !important;
  }
  
  /* Menus */
  .app-navigation-entry.router-link-exact-active.active, 
  #app-navigation:not(.vue)>ul>li.active, #app-navigation:not(.vue)>ul>li.active>a {
      background-color: var(--color-main-background) !important;
      border-radius: 4px !important;
  }
  
  #app-navigation:not(.vue)>ul>li:hover, #app-navigation:not(.vue)>ul>li>a:hover {
      border-radius: 4px !important;
  }
  
  :root {
     --body-container-margin: 0px;
     --body-container-radius: 0px;
     --color-main-background: #1c2128;
     --color-main-background-translucent: #1c2128;
     --color-main-background-rgb: 23, 27, 32;
     --color-main-background-blur: #22272e;
     --color-main-header: #2d333b;
     --color-background-hover: #444c56;
     --color-border: #444c56 !important;
     --color-border-hover: #539bf5 !important;
     --color-border-panel: #373e47 !important;
     --color-scrollbar: #2d333b;
     --button-color: #347d39;
     --color-entry-background: #1c2128;
     --folder-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="rgb(123, 131, 143)"><path d="M 1.75 1 A 1.75 1.75 0 0 0 0 2.75 v 10.5 C 0 14.216 0.784 15 1.75 15 h 12.5 A 1.75 1.75 0 0 0 16 13.25 v -8.5 A 1.75 1.75 0 0 0 14.25 3 H 7.5 a 0.25 0.25 0 0 1 -0.2 -0.1 l -0.9 -1.2 C 6.07 1.26 5.55 1 5 1 H 1.75 Z"/></svg>');
  }