/* Custom CSS edits for NC27 */

/* Remove margins for the main content area */

#content, .content {
    margin-left:0 !important;
    margin-right:0 !important;
    margin-bottom:0 !important;
    width:100% !important;
    height: calc(var(--body-height) + var(--body-container-margin)) !important;
}

/* Make input element  corners a bit less rounded
    (may need some additional classes, as I did not check every detail in the UI) */

input, textarea, select, .multiselect__tags, .rich-contenteditable__input {
    border-radius: var(--border-radius-default) !important;
}

/* Fix visual glitches with navigation if there is no background image */

#app-navigation, .app-navigation {
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
}

/* Remove mouse events from quota display in file manager
    since selecting that element does not do anything */

.app-files #quota {
    pointer-events:none;
}

/* Custom styling for markdown editor to have a bit bigger text */

.text-editor__wrapper div.ProseMirror p {
    font-size:16px;
}

/* Make active menu item icon red */

.app-menu-main .app-menu-entry.app-menu-entry__active {
    filter: brightness(20%) sepia(20) saturate(150) hue-rotate(45deg) !important;
}

/* Main menu and login form */
/* Colors */

#side-menu, #body-login {background: none;}
.login-box { background-color: var(--color-main-background-blur); }
#header, #side-menu  { background-color: rgba(23, 23, 23, 0.8) !important; }
.menu, .header-menu__wrapper{ background-color: rgba(var(--color-main-background-rgb), 0.3) !important; }

/* Background blur */

#content, #header, .menu, .header-menu__wrapper, #side-menu, #body-login, .login-box {
    -webkit-backdrop-filter: var(--filter-background-blur);
    backdrop-filter: var(--filter-background-blur);
}

/* Remove frame around logo on login form */

#body-login #header {
    background: transparent !important;
    backdrop-filter: none;
}


/* Header*/

#body-public .side-menu-opener {
    display: none !important;
}

/* Deck */

.card {
    box-shadow: none !important;
    background-color: #22272e !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    border-radius: 10px !important;
}

.icon.due.now {
    background-color: var(--color-main-header) !important;
}

.icon.due.overdue {
    background-color: #7f2e2e !important;
}

.action.active {
    border-radius: var(--border-radius-default) !important;
}

.deck-search input[type=search] {
    background-position: 12px !important;
}

/* Files */

table td.filename .thumbnail[style*="folder"] {
    background-image: var(--folder-icon) !important;
    border-radius: 0px !important;
}

table td.filename .thumbnail {
    border-radius: 4px !important;
}

.files-filestable tbody {
    border: 1px solid;
    border-bottom: none !important;
    border-radius: var(--border-radius-default) !important;
    border-color: var(--color-border);
    background-color: var(--color-main-background-blur);
}

.thead .summary {
    border: none !important;
}

table th {
    border-top: none !important;
    border-bottom: none !important;
}

tr:last-child td:first-child, tr:last-child td:first-child:hover {
    border-bottom-left-radius: var(--border-radius-default) !important;
}

tr:last-child td:last-child, tr:last-child td:last-child:hover  {
    border-bottom-right-radius: var(--border-radius-default) !important;
}

tr:first-child td:first-child, tr:first-child td:first-child:hover {
    border-top-left-radius: var(--border-radius-default) !important;
}

tr:first-child td:last-child, tr:first-child td:last-child:hover {
    border-top-right-radius: var(--border-radius-default) !important;
}

.tfoot {
    border-top: none !important;
}

#app-navigation-toggle {
    margin: 8px 0px 0px 8px !important;
}

.app-sidebar-header__star.button-vue.button-vue--icon-only.button-vue--vue-secondary {
    background-color: rgba(0,0,0,0) !important;
}

.app-sidebar-header__star.button-vue.button-vue--icon-only.button-vue--vue-secondary:hover {
    background-color: var(--color-background-hover) !important;
}

table tr[data-has-preview=true] .thumbnail {
    border: none !important;
}

#header {
    background-color: var(--color-background-hover);
}

.files-controls {
    background-color: var(--color-main-background);
    width: 100% !important;
}

#view-toggle {
    position: absolute;
    top: 3px !important;
}

.viewcontainer {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

#files-public-content {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.name:focus {
    background-color: var(--color-primary-element-light) !important;
}

.files-filestable.view-grid:not(.hidden) tbody td.filename .thumbnail-wrapper {
    z-index: 0 !important;
}

/* Links above files */

div.crumb > a, div.crumb > span {
    color: #749af0 !important;
    opacity: 1 !important;
    text-align: center;
}

div.crumb.svg > a, div.crumb.svg.ui-droppable > a {
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-align: center;
}

div.crumb.svg, div.crumb.svg.ui-droppable {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.crumb > a:hover {
    text-decoration: underline;
}

div.crumb {
    background: none;
}

div.crumb::after {
    content: "/";
    width: 5px;
    background-color: var(--color-main-background);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

div.crumb.svg.ui-droppable::after {
    padding-bottom: 12px;
    padding-top: 12px;
}

div.crumb.svg::after {
    padding-bottom: 12px;
    padding-top: 12px;
}

div.crumb.svg.crumbhome.ui-droppable::after {
    display: none !important;
}


div.crumb span.icon-shared {
    display: none !important;
}

.icon-home {
    margin-top: 4px;
}

/* Button new item */
.button.new {
    border: 0px solid;
    border-radius: var(--border-radius-default);
    color: #fdfdfd !important;
    background-color: var(--button-color);
    margin-top: 5px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 22px !important;
    min-height: 22px !important;
}

.button.new:hover {
    background-color: var(--color-btn-primary-hover-bg) !important;
    /* border: 1px solid !important; */
    /* border-radius: var(--border-radius-default) !important; */
    /* border-color: #fdfdfd !important; */
}

.icon-add {
    color: #fdfdfd !important;
}

.creatable {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

#app-navigation, .app-navigation, .without-app-settings {
    border-right: 1px solid !important;
    border-color: var(--color-border-panel) !important;
}

/* Header */
.header-left, .header-right {
    background-color: var(--color-main-header) !important;
}

/* Side menu opener */
.side-menu-opener {
    margin: 0px !important;
}

/* Input */
input, select, textarea, .content-wrapper.text-editor__content-wrapper, .vs__dropdown-toggle, .multiselect__tags, .comment-form__contenteditable, .rich-contenteditable__input, .multiselect.property__label.multiselect--single, .multiselect__content-wrapper {
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    background-color: var(--color-entry-background) !important;
    border-radius: var(--border-radius-default) !important;
    padding-left: 15px !important;
}

.vs__dropdown-toggle {
    padding-left: 8px !important;
}

/*
input, .input-field__input{
    margin: 0px 3px 0px 3px !important;
    height: 44px !important;
}*/

input:hover, select:hover, textarea:hover, .content-wrapper.text-editor__content-wrapper:hover, .vs__dropdown-toggle:hover, .multiselect__tags:hover, .comment-form__contenteditable:hover, .rich-contenteditable__input:hover, input:focus, select:focus, textarea:focus, .content-wrapper.text-editor__content-wrapper:focus, .vs__dropdown-toggle:focus, .multiselect__tags:focus, .comment-form__contenteditable:focus, .rich-contenteditable__input:focus, .content-wrapper.text-editor__content-wrapper:active, .content-wrapper.text-editor__content-wrapper:focus-within, .content-wrapper.text-editor__content-wrapper:focus-visible, .multiselect.property__label.multiselect--single:hover {
    border-color: var(--color-border-hover) !important;
}

/* Rich space */
#rich-workspace, .focus.creatable {
    padding: 0px !important;

}

.content-wrapper.text-editor__content-wrapper {
    border-radius: var(--border-radius-default) !important;
}

/* Menus */
.app-navigation-entry.router-link-exact-active.active, 
#app-navigation:not(.vue)>ul>li.active, #app-navigation:not(.vue)>ul>li.active>a, .button.single-alt-login-option, .button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button, .button-vue.button-vue--text-only.button-vue--vue-tertiary.button-vue--wide {
    background-color: var(--color-main-background) !important;
    border-radius: var(--border-radius-default) !important;
}

#app-navigation:not(.vue)>ul>li:hover, #app-navigation:not(.vue)>ul>li>a:hover, .button.single-alt-login-option:hover, .button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button:hover {
    border-radius: var(--border-radius-default) !important;
}

.app-navigation-entry__settings, #app-settings {
    padding: calc(var(--default-grid-baseline, 4px)*2) !important;
}

.settings-button {
    background-color: var(--color-main-background-blur) !important;
}

.settings-button:hover {
    background-color: var(--color-background-hover) !important;
}

#app-settings__header {
    margin: 0px !important;
}

/* Dashboard Panels */
.panel {
    background-color: rgba(0,0,0,.5) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Dashboard Buttons */

.user-status-menu-item__toggle  {
    border-radius: var(--border-radius-default) !important;
}

.user-status-menu-item__toggle.user-status-menu-item__toggle--inline, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary.action-item__menutoggle {
    background-color: rgba(0,0,0,.5) !important;
    border-radius: var(--border-radius-default) !important;
}

.user-status-menu-item__toggle.user-status-menu-item__toggle--inline:hover, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary:hover, .button-vue.button-vue--icon-and-text.button-vue--vue-secondary:hover, action-item__menutoggle:hover, .button.single-alt-login-option:hover, .button-vue.button-vue--text-only.button-vue--vue-tertiary.button-vue--wide:hover {
    background-color: var(--color-background-hover) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Modal container */
.modal-container {
    box-shadow: none !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
}
  
/* Profil page */
.vs__search, .vs__search:hover {
    border: 0px solid !important;
    border-color: none !important;
    background-color: none !important;
    background: none !important;
}

/* Entries & Texts - No borders */
div.select2-container-multi .select2-choices, div.select2-container-multi.select2-container-active .select2-choices, .multiselect__input, .text-editor__wrapper .text-editor__main .text-editor__content-wrapper, [data-handler=text] {
    border: 0px solid !important;
}

/* Pop-up menus */
.header-menu__wrapper, .fileActionsMenu.popovermenu.bubble.open.menu, .popovermenu.open, .popovermenu:after, .v-popper__wrapper, .oc-dialog, .guest-box.login-box, .guest-box {
    box-shadow: none !important;
    background-color: var(--color-main-background-blur) !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    filter: drop-shadow(0 0px 0px var(--color-box-shadow)) !important;
    border-radius: var(--border-radius-default) !important;
}

.header-menu__content, .v-popper__inner, .v-popper--theme-dropdown.v-popper__popper {
    box-shadow: none !important;
    background-color: var(--color-main-background-blur) !important;
    border: 0px solid !important;
    filter: drop-shadow(0 0px 0px var(--color-box-shadow)) !important;
    border-radius: var(--border-radius-default) !important;
}

.oc-dialog-buttonrow {
    background-image: none !important;
}

.notification, .dismiss-all, .unified-search__input-wrapper, .oc-dialog-title, .oc-dialog-buttonrow.twobuttons.aside, .oc-dialog-title, .notification-container.menu {
    background-color: var(--color-main-background-blur) !important;
}

/* Pop-up menus - Search bars */

#unified-search__input {
    padding: 0 12px !important;
}

.unified-search__form {
    margin: 10px 8px !important;
}

/* Log in */

#body-login {
    background-color: var(--color-main-background) !important;
}

.info {
    color: var(--color-main-text) !important;
}

.button.single-alt-login-option {
    margin: 0px 0px 10px 0px !important;
    font-size: 15px !important;
}

.button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button {
    background-color: var(--color-primary) !important;
}

.button-vue.button-vue--text-only.button-vue--vue-secondary.button-vue--wide.register-button:hover {
    background-color: var(--color-primary-element-hover) !important;
    text-decoration: none !important;
}

#user {
    width: 100%;
}

/* Notification */

.notification__dot {
    fill: var(--color-primary) !important;
}

/* Contacts */

.property__value input {
    padding-left: 10px !important;
}

/* Announcement */

.announcement__message__overlay {
    height: 1em !important;
}

.rich-contenteditable__input--empty:before {
    position: inherit !important;
}

/*.ProseMirror {
    margin-top: 50px !important;
}*/

/* Mails*/

/*#message-container {
    background-color: var(--color-main-background) !important;
}

.div.WordSection1 {
    color: #D8D8D8 !important;
}*/

.envelope--expanded {
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    border-radius: var(--border-radius-default) !important;
}

/* Talk */

.message-buttons-bar {
    background-color: var(--color-main-background-blur) !important;
    border: 1px solid !important;
    border-color: var(--color-border) !important;
    box-shadow: none !important;
    height: 45.6px !important;
}

.button-vue--icon-only {
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-primary {
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-secondary {
    background-color: var(--color-main-background) !important;
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-tertiary{
    border-radius: var(--border-radius-default) !important;
}

.button-vue--vue-secondary:hover, .icon-menu:hover {
    background-color: var(--color-background-hover) !important;
    /* border-radius: 22px !important; */
}

.button-vue--icon-and-text {
    background-color: var(--color-background-hover) !important;
}

.app-navigation-entry__counter {
    background-color: var(--color-main-background-blur) !important;
}

.app-navigation-entry:hover .app-navigation-entry__counter {
    background-color: #444c5600 !important;
}

.list-item {
    border-radius: var(--border-radius-default) !important;
}

.file-preview:hover {
    background-color: #ffffff00 !important;
}

.file-preview:hover .file-preview__image.media, .location:hover {
    outline: none !important;
}

.message:hover .normal-message-body, .message:hover .normal-message-body {
    background-color: var(--color-main-background) !important;
}

.deck-card, .widget-custom, .widget-default {
    border-width: 1px !important;
}

.deck-card:hover, .widget-custom:hover, .widget-default:hover {
    border-width: 1px !important;
    border-color: var(--color-border-hover) !important;
}

/* Photos */

.file-container .file__images img, .file-container .file__images .video-icon, .file-container, .files-list-viewer__placeholder, .material-design-icon.video-icon.video-icon, .file-container.selected::after, .file-container::after {
    border-radius: var(--border-radius-default) !important;
}

.checkbox-radio-switch, .checkbox-radio-switch:hover, .checkbox-radio-switch__label, .checkbox-radio-switch__label:hover, .checkbox-radio-switch__label:focus, .checkbox-radio-switch__input, .checkbox-radio-switch__input:focus {
    background-color: rgb(0 0 0 / 0%) !important;
}

.material-design-icon__svg  {
    color: var(--color-primary-light-text) !important;
}

/* Apps */

.app-level, .official.icon-checkmark {
    min-width: 137px !important;
}

/* Public */

#body-public footer {
    display: none !important;
}

/* Parameters */

.app-settings__navigation {
    min-width: 280px !important;
}

.msg.inlineblock.success {
    border-radius: var(--border-radius-default) !important;
    padding: 3px 10px !important;
    margin-bottom: 5px !important;
}

/* Menus */

.user-menu__nav ul li a {
    border-radius: var(--border-radius-default) !important;
}

.header-menu__content {
    border-radius: 0px !important;
}

/* Assistant */

.editable-input, .editable-output {
    padding-left: 20px !important;
}

.vs--searchable .vs__dropdown-toggle {
    max-height: 40px !important;
}

.vs__selected {
    margin: 2px 0px 0px 0px !important;
    position: fixed !important;
}

#task-select.vs__search {
    padding-left: 8px !important;
}

:root {
    --filter-background-blur: blur(8px) !important;
    --body-container-margin: 0px;
    --body-container-radius: 0px;
    --color-main-background: #1c2128;
    --color-main-background-translucent: var(--color-main-background);
    --color-main-background-rgb: 23, 27, 32;
    --color-main-background-blur: #22272e;
    --color-main-header: #2d333b;
    --color-main-text: #D8D8D8 !important;
    --color-text-maxcontrast: #8c8c8c !important;
    --color-text-maxcontrast-default: #8c8c8c !important;
    --color-text-maxcontrast-background-blur: #919191 !important;
    --color-text-light: #bfbfbf !important;
    --color-text-lighter: #a5a5a5 !important;
    --color-background-dark: var(--color-main-background-blur) !important;
    --color-background-hover: #444c56a3;
    --color-border: #444c56 !important;
    --color-border-hover: #539bf5 !important;
    --color-border-panel: #373e47 !important;
    --color-scrollbar: #2d333b;
    --button-color: #347d39;
    --color-btn-primary-hover-bg: #46954a;
    --color-entry-background: var(--color-main-background-blur);
    --color-primary: var(--color-primary-default) !important;
    --color-primary-element: var(--color-primary-default) !important;
    --color-primary-light-text: #ffffff !important;
    --border-radius-large: var(--border-radius-default) !important;
    --border-radius-pill: var(--border-radius-default) !important;
    --border-radius: var(--border-radius-default) !important;
    --border-radius-default: 16px !important; /* 25 */
    --folder-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="rgb(123, 131, 143)"><path d="M 1.75 1 A 1.75 1.75 0 0 0 0 2.75 v 10.5 C 0 14.216 0.784 15 1.75 15 h 12.5 A 1.75 1.75 0 0 0 16 13.25 v -8.5 A 1.75 1.75 0 0 0 14.25 3 H 7.5 a 0.25 0.25 0 0 1 -0.2 -0.1 l -0.9 -1.2 C 6.07 1.26 5.55 1 5 1 H 1.75 Z"/></svg>');
}